p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.rmdnote {
  background-color: #e0f0ff;
}

.rmdimportant {
  border-radius: 10px;
  border-color: #000000;
  background-color: #ffe9e9;
}